@*@model IEnumerable<BowlingCoreMVC.Models.Game>*@

@{
    ViewData["Title"] = "My Scores";
}

@*<h2>@ViewData["Title"]</h2>*@

<p>
    <a asp-action="Create" asp-controller="Series" class="btn btn-primary btn-block">New Series</a>
</p>

<h4>Series</h4>

<div class="list-group">
    @foreach (var item in (PaginatedList<Series>)ViewData["UserSeries"])
    {

        <button type="button" data-toggle="modal" data-SeriesID="@item.ID" data-target="#seriesModal-@item.ID" class="list-group-item list-group-item-action flex-column align-items-start">
            <span class="bade badge-primary badge-pill">@Html.DisplayFor(modelItem => item.SeriesScore)</span>
            <p class="mb-1">@item.CreatedDate.ToString("MMM dd, yyyy")</p>
            <p class="mb-1">@Html.DisplayFor(modelItem => item.League.Name)</p>
        </button>


        <!-- Modal -->
        <div class="modal fade" id="seriesModal-@item.ID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">@item.CreatedDate.ToString("MMM dd, yyyy")</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            @foreach (var game in item.Games)
                            {
                                <partial name="_CondensedScoreboard" model="@game" />
                                <br />
                            }

                        </div>
                    </div>
                    <div class="modal-footer">
                        @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
                        <a asp-controller="Series" asp-action="Details" asp-route-id="@item.ID" class="btn btn-secondary float-left">Details</a>
                        <a asp-controller="Series" asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary btn-block">Edit</a>
                        <a asp-controller="Series" asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>

    }
</div>

@{
    string SeriesPrevDisabled = !((PaginatedList<Series>)ViewData["UserSeries"]).HasPreviousPage ? "disabled" : "";
    string SeriesNextDisabled = !((PaginatedList<Series>)ViewData["UserSeries"]).HasNextPage ? "disabled" : "";
}

<a asp-action="Index" asp-route-SeriesPage="@(((PaginatedList<Series>)ViewData["UserSeries"]).PageIndex - 1)"
   asp-route-GamePage="@(((PaginatedList<Game>)ViewData["UserGames"]).PageIndex)"
   class="btn btn-primary @SeriesPrevDisabled">Prev</a>

<a asp-action="Index" asp-route-SeriesPage="@(((PaginatedList<Series>)ViewData["UserSeries"]).PageIndex + 1)"
   asp-route-GamePage="@(((PaginatedList<Game>)ViewData["UserGames"]).PageIndex)"
   class="btn btn-primary @SeriesNextDisabled">Next</a>

<br />
<hr />
<br />

<p>
    <a asp-action="Edit" class="btn btn-primary btn-block">New Game</a>
</p>
<h4>Games</h4>
<div class="list-group">
    @foreach (var item in ((List<Game>)ViewData["UserGames"]))
    {

        <button type="button" data-toggle="modal" data-SeriesID="@item.ID" data-target="#gameModal-@item.ID" class="list-group-item list-group-item-action flex-column align-items-start">
            <p class="mb-1">@Html.DisplayFor(modelItem => item.Score)</p>
            <p class="mb-1">@item.CreatedDate.ToString("MMM dd, yyyy")</p>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="gameModal-@item.ID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">@item.CreatedDate.ToString("MMM dd, yyyy")</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <partial name="_CondensedScoreboard" model="@item" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
                        <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-secondary float-left">Details</a>
                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary btn-block">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>


    }
</div>

@{
    string GamePrevDisabled = !((PaginatedList<Game>)ViewData["UserGames"]).HasPreviousPage ? "disabled" : "";
    string GameNextDisabled = !((PaginatedList<Game>)ViewData["UserGames"]).HasNextPage ? "disabled" : "";

}


<a asp-action="Index" asp-route-SeriesPage="@(((PaginatedList<Series>)ViewData["UserSeries"]).PageIndex)"
   asp-route-GamePage="@(((PaginatedList<Game>)ViewData["UserGames"]).PageIndex - 1)"
   class="btn btn-primary @GamePrevDisabled">Prev</a>

<a asp-action="Index" asp-route-SeriesPage="@(((PaginatedList<Series>)ViewData["UserSeries"]).PageIndex)"
   asp-route-GamePage="@(((PaginatedList<Game>)ViewData["UserGames"]).PageIndex + 1)"
   class="btn btn-primary @GameNextDisabled">Next</a>

@*
<script>
    $('#exampleModal').on('show.bs.modal', function (event)
    {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var GameModel = button.data('GameModel') // Extract info from data-* attributes

        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('.modal-body input').val(recipient)
    })
</script>
*@







