@{
    ViewData["Title"] = "Home";
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@*TODO: Revamped home page for logged in user*@

<div class="body-content">
    <div class="container">
        @if (!SignInManager.IsSignedIn(User))
        {

        <div class="row">
            <div class="col-lg-2"></div>
            @*<h3>Environment test:</h3>
                <h3>@ViewData["EnvironmentTest"]</h3>*@
            <div class="col-lg-8">
                <h2 class="text-info">Welcome to BowlingHub!</h2>
                <p>BowlingHub is the place to log all of your bowling scores and view your progress. You will be able to create leagues, log your series/games, see your statistics, and compete on the highscores! Click the Register button above to get started.</p>
            </div>
            <div class="col-lg-2"></div>
        </div>
        }
        @* User is signed in *@
        else 
        {
            if (ViewData["MyLast5Games"] != null)
            {
                <partial name="_CardListSingleValue" model='@ViewData["MyLast5Games"]' />
            }

            if (ViewData["TodaysLeague"] != null)
            {
                League l = (League)ViewData["TodaysLeague"];
                <h1>League @l.Name is Happening today!</h1>
                <a asp-action="QuickCreateSeries" asp-controller="Home" asp-route-LeagueID="@l.ID" class="btn btn-primary btn-block">New Series for this league tonight</a>
            }
            

            <partial name="_TeamWeekSummary" model='@ViewData["TeamWeekSummary"]' />
        }

    </div>
</div>