@model IEnumerable<BowlingCoreMVC.Models.Team>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">@(((League)ViewData["League"]).Name)</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.League)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.League.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                
                @{
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info">Details</a>
                    if (((HashSet<UserLeagueTeam>)item.UserLeagueTeams).Where(o => o.IsAdmin && o.UserID == ViewData["CurrentUserID"].ToString()).Any())
                    {
                        <div class="btn-group">
                            <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
                        </div>
                    }
                }


            </td>
        </tr>
}
    </tbody>
</table>
