@model IEnumerable<BowlingCoreMVC.Models.Series>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SeriesScore)
            </th>
            <th>
                Games
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeagueName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SeriesScore)
                </td>
                <td>
                    @{
                        var i = 0;
                        var count = item.Games.Count();

                        @if (item.Games != null)
                        {
                            @foreach (var g in item.Games)
                            {
                                @g.Score
                                if (++i != count)
                                {
                                    <span>,</span>

                                }

                            }
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeagueName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
