@{
    ViewData["AppName"] = "BowlingHub";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @ViewData["AppName"]</title>

    @*Styles*@
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />*@
    </environment>

    @*Scripts (for jQuery reference)*@
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery-3.3.1.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery-3.3.1.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        @*<script src="~/lib/jquery/dist/jquery-3.3.1.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>*@
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">

        <div class="navbar-brand">
            @using Microsoft.AspNetCore.Identity
            @using BowlingCoreMVC.Models

            @inject SignInManager<ApplicationUser> SignInManager
            @inject UserManager<ApplicationUser> UserManager

            @if (!SignInManager.IsSignedIn(User))
            {
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">@ViewData["AppName"]</a>
            }
            else
            {
                <a asp-area="" asp-controller="Stats" asp-action="Index" class="navbar-brand">@ViewData["AppName"]</a>
            }
        </div>

        @*<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNavDropdown">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>*@

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                @*<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>*@
                @*<li class="nav-item"><a asp-area="" asp-controller="Stats" asp-action="Index" class="nav-link">HiScores</a></li>*@

                @*<li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>*@
                <li class="nav-item"><a asp-controller="Game" asp-action="Index" class="nav-link">My Games</a></li>
<li class="nav-item"><a asp-controller="Stats" asp-action="UserSummary" asp-route-id="@UserManager.GetUserId(User)" class="nav-link">My Statistics</a></li>
@*
<li class="nav-item"><a asp-controller="Stats" asp-action="MyStats" class="nav-link">My Statistics</a></li>
*@
                @*<li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Scores<span class="caret"></span></a>
            <div class="dropdown-menu">
                <a asp-area="" asp-controller="Game" asp-action="Index" class="dropdown-item">My Games</a>
                <a asp-area="" asp-controller="Series" asp-action="Index" class="dropdown-item">My Series</a>
                <a asp-area="" asp-controller="Stats" asp-action="MyStats" class="dropdown-item">My Statistics</a>
            </div>
        </li>*@

@*
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Leagues</a>
                    <div class="dropdown-menu">
                        <a asp-area="" asp-controller="Leagues" asp-action="Index" class="dropdown-item">Leagues</a>
                        <a asp-area="" asp-controller="Locations" asp-action="Index" class="dropdown-item">Locations</a>
                    </div>
                </li>
*@
            <li class="nav-item"><a asp-controller="Leagues" asp-action="Index" class="nav-link">Leagues</a>
            <li class="nav-item"><a asp-controller="Stats" asp-action="Index" class="nav-link">Sitewide Scores</a>
            <li class="nav-item"><a asp-controller="Teams" asp-action="Index" class="nav-link">Teams Test</a>
            </ul>
            
            @await Html.PartialAsync("_LoginPartial")
        </div>

    </nav>
    <div class="container body-content">
        <br /><br />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - @ViewData["AppName"] by Eric DeSmet</p>
        </footer>
    </div>



    @RenderSection("Scripts", required: false)

    @* Cookies consent, eventually? *@
    @*<partial name="_CookieConsentPartial" />*@
</body>
</html>
