@model BowlingCoreMVC.Models.Game
@*
    @Html.HiddenFor(mod => mod.ID, new { @class = "hidGameID" })
*@
@Html.HiddenFor(mod => mod.CurrentFrame, new { @id = Model.ID + "_CurrentFrame" })
@Html.HiddenFor(mod => mod.CurrentThrow, new { @id = Model.ID + "_CurrentThrow" })
@Html.HiddenFor(mod => mod.ScoreUpToFrame, new { @id = Model.ID + "_ScoreUpToFrame" })

@{
    string CollapseGameID = "CollapseGame_" + Model.ID;
}

<input type="hidden" class="hidGameID" value="@Model.ID" />

<div class="alert alert-success alert-dismissible" role="alert" id="SavedAlert" style="display: none; position: fixed; width:80%;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    Game Saved!
</div>

<div class="card-group" id="accordion" role="tablist" aria-multiselectable="true" style="min-width:480px;">
    <div class="card">
        @*<a role="button" data-toggle="collapse" data-parent="#accordion" href="#@CollapseGameID" aria-expanded="true" aria-controls="@CollapseGameID">*@
        <div class="card-heading bg-primary" role="button" id="GameHeading" data-toggle="collapse" data-parent="#accordion" href="#@CollapseGameID" aria-expanded="true" aria-controls="@CollapseGameID">
            <h4 class="card-title">
                @{
                    if (Model.SeriesID != 0 && Model.SeriesID != null)
                    {
                        @Model.UserName @: - Game @Model.SeriesIndex of Series
                    }
                    else
                    {
                        @Model.UserName
                    }
                }

            </h4>
        </div>
        @*</a>*@
        <div id="scoreboard" class="card-body">
            @*<div class="d-flex flex-row bd-highlight">
                    <div class="p-1 flex-column">
                        <div class="d-flex flex-row bd-highlight">
                            <div class="p-1 bd-highlight flex-fill">1</div>
                        </div>
                        <div class="d-flex flex-row bd-highlight">
                            <div class="p-1 bd-highlight">X</div>
                            <div class="p-1 bd-highlight">X</div>
                        </div>
                        <div class="d-flex flex-row bd-highlight">
                            <div class="p-1 bd-highlight flex-fill">XXX</div>
                        </div>

                    </div>
                    <div class="p-1 bd-highlight">Flex item 1</div>
                    <div class="p-1 bd-highlight">Flex item 2</div>
                    <div class="p-1 bd-highlight">Flex item 3</div>
                    <div class="p-1 bd-highlight">Flex item 4</div>
                    <div class="p-1 bd-highlight">Flex item 5</div>
                    <div class="p-1 bd-highlight">Flex item 6</div>
                    <div class="p-1 bd-highlight">Flex item 7</div>
                    <div class="p-1 bd-highlight">Flex item 8</div>
                    <div class="p-1 bd-highlight">Flex item 9</div>
                    <div class="p-1 bd-highlight">Flex item 10</div>
                </div>*@

            <div class="d-flex flex-row">
                @foreach (var f in Model.Frames)
                {
                    <div class="p-1 flex-column bd-highlight">
                        <div class="d-flex flex-row bd-highlight">
                            <div class="p-1">@f.FrameNum</div>
                        </div>

                        <div class="d-flex flex-row bd-highlight">
                            <div class=""><frame-throw frame="@f" throw-num="1"></frame-throw></div>
                            <div class=""><frame-throw frame="@f" throw-num="2"></frame-throw></div>

                            @if (f.FrameNum == 10)
                            {
                                <frame-throw frame="@f" throw-num="3"></frame-throw>
                            }
                        </div>

                        <div class="d-flex flex-row bd-highlight">
                            <div class="p-1 flex-fill"><frame-score frame="@f"></frame-score></div>
                        </div>
                    </div>

                }
            </div>

        </div>
        <div id="@CollapseGameID" class="card" aria-labelledby="GameHeading">
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-2">
                        <button class="btn btn-default btn-lg" onclick="PreviousClickSendGame(@Model.ID)">@*<span class="glyphicon glyphicon-arrow-left" />*@&lt;--</button>
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-default btn-lg" onclick="MissedAllClick(@Model.ID)" id="@Model.ID-btnMissedAll" value="false">@*<span class="glyphicon glyphicon-adjust" />*@O</button>
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-default btn-lg" onclick="NextClickSendGame(@Model.ID)">@*<span class="glyphicon glyphicon-arrow-right" />*@--&gt;</button>
                    </div>
                    <div class="col-xs-2"></div>
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-2"></div>
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2"></div>
                    <div class="col-xs-4">
                        <table class="table table-condensed" id="PinsTable">
                            <tr>
                                <td><div><input type="checkbox" id="@Model.ID-Missed_7" class="pins-checkbox pins-checkbox-7 sr-only" /><label for="@Model.ID-Missed_7"></label></div></td>
                                <td></td>
                                <td><div><input type="checkbox" id="@Model.ID-Missed_8" class="pins-checkbox pins-checkbox-8 sr-only" /><label for="@Model.ID-Missed_8"></label></div></td>
                                <td></td>
                                <td><div><input type="checkbox" id="@Model.ID-Missed_9" class="pins-checkbox pins-checkbox-9 sr-only" /><label for="@Model.ID-Missed_9"></label></div></td>
                                <td></td>
                                <td><div><input type="checkbox" id="@Model.ID-Missed_10" class="pins-checkbox pins-checkbox-10 sr-only" /><label for="@Model.ID-Missed_10"></label></div></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><div><input type="checkbox" id="@Model.ID-Missed_4" class="pins-checkbox pins-checkbox-4 sr-only" /><label for="@Model.ID-Missed_4"></label></div></td>
                                <td></td>
                                <td><div><input type="checkbox" id="@Model.ID-Missed_5" class="pins-checkbox pins-checkbox-5 sr-only" /><label for="@Model.ID-Missed_5"></label></div></td>
                                <td></td>
                                <td><div><input type="checkbox" id="@Model.ID-Missed_6" class="pins-checkbox pins-checkbox-6 sr-only" /><label for="@Model.ID-Missed_6"></label></div></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><div><input type="checkbox" id="@Model.ID-Missed_2" class="pins-checkbox pins-checkbox-2 sr-only" /><label for="@Model.ID-Missed_2"></label></div></td>
                                <td></td>
                                <td><div><input type="checkbox" id="@Model.ID-Missed_3" class="pins-checkbox pins-checkbox-3 sr-only" /><label for="@Model.ID-Missed_3"></label></div></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><div><input type="checkbox" id="@Model.ID-Missed_1" class="pins-checkbox pins-checkbox-1 sr-only" /><label for="@Model.ID-Missed_1"></label></div></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-2">
                        @*<button class="btn btn-default btn-lg" onclick="MissedAllClick(@Model.ID)"><span class="glyphicon glyphicon-adjust" /></button>*@
                    </div>
                    <div class="col-xs-2">
                        @*<button class="btn btn-default btn-lg" onclick="MissedNoneClick(@Model.ID)"><span class="glyphicon glyphicon-king" /></button>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <input type="button" class="btn btn-success btn-block" value="Save" onclick="SaveGameClick(@Model.ID)" />
        </div>
    </div>
</div>



<style type="text/css">
</style>





